@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}

.custom-btn{
  align-items: center;
  appearance: none;
  border: 0;
  border-radius: 6px;
  box-sizing: border-box;
  width: 175px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  margin-right: 10%;
}

.custom-btn:hover {
  transform: translateY(-2px);
}
.custom-btn:hover {
  transform: translateY(-2px);
}
.custom-btn:active {
  transform: translateY(2px);
}

.custom-btn.creation {
   background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
   box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
   color: #fff;
}

.custom-btn.creation:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.custom-btn.creation:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.custom-btn.creation:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
}


.custom-btn.return{
  background-image: radial-gradient(100% 100% at 100% 0, #5a5b5e 0, #141415 100%);
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(40, 40, 44, 0.3) 0 7px 13px -3px, rgba(44, 45, 51, 0.5) 0 -3px 0 inset;
}

.custom-btn.return:focus {
  box-shadow: #000000 0 0 0 1.5px inset, rgba(35, 34, 37, 0.4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ffffff 0 -3px 0 inset;
}

.custom-btn.return:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0 4px 8px, rgba(40, 38, 42, 0.3) 0 7px 13px -3px, #41424b 0 -3px 0 inset;
}

.custom-btn.return:active {
  box-shadow: #ffffff 0 3px 7px inset;
}
